---
const {
  specUrl = "https://api-omicidx.cancerdatasci.org/openapi.json",
} = Astro.props;
---

<div id="api-reference" data-url={specUrl}></div>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
